/*================01.basic setting=====================*/
html, body {
    width: 100%;
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a, a:hover, a:focus {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 85%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    }

section {
    padding: 100px 0;
}

.clearfix::after {
    content: '';
    display : table;
    clear: both;
}

h2{
    margin-bottom: 75px;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*====================02.header============*/
header {
    left: 0;
    right: 0;
    background-image: url(../images/MainPage.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
  
#navber {
    height: 50px;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #222;
    z-index: 100;
}
#logo {
    float: left;
    width: 80px;
    height: 40px;
}
  
.nav {
    float: right;
}
  
.nav li {
    display: inline-block;
}
  
.nav li a {
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
    padding: 10px 12px;
}

#info-context p{
    font-variant: small-caps;
}

#middle-part{
    left: 0;
    right: 0;
    background-image: url(../images/ShapeBG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 790%;
}

/*====================03.arina-info============*/
#arina-info-top{
    margin-bottom:40px;
}
.info-img-item{
    display: inline-block;
    width: 49%;
    padding:0px 10px 20px 10px;
}
.info-img-item img{
    
}
.info-item{
    padding:0 15px;
}

.info-context{
    text-align: center;
    background-color: #ccc;
    padding:20px 0;
}

.info-context-img{

    width:50%;
    vertical-align: middle;
    display:inline-block;
}
.info-context-img::before{
    display:inline-block;
}
.info-context h5{
    padding-top:20px;
}
.info-context p{
    margin:5px 15px;
}

/*====================03.arina-dapp============*/

.dapp-img{
    
    width:49%;
    display:inline-block;
}
.dapp-img img{
    padding:12px 5px;
}

#dapp-img-left{
    float:left;
}

#dapp-img-right{
    padding: 25% 0;
    float:right;
}

#arina-dapp-context{
    padding: 25% 0;
}

#second-title{
    margin: 5% 10%;
}

/*====================04.arina-video============*/
#arina-video{
    background-image: url(../images/4ARINAYAKYUKEN/VideoARINAYAKYUKEN.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 10%;
    padding:5px 0;
}
#arina-video-title{
    height: 5%;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}
#arina-video .container{
    display: table;
    width: 110%;
    height: 100%;
    position: relative;
}
.video-container {
    margin:35px 20px 0 0;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {

    position: absolute;
    top: 0;left: 0;
    width: 95%;
    height: 95%;
}

#YAKYUKENLOGO{
    position: absolute;
    left: 5%;
    top: 65%;
    width: 40%;
    transform: translate(-50%, -50%);
}

#arina-video-context{
    margin:0 40px 0 240px;
    color: #fff;
}

#arina-video-button img{
    width:30%;
}

/*====================05.arina-interface============*/

#arina-interface{
    left: 0;
    right: 0;
    background-image: url(../images/5ARINALANDTYCOON/ShapeBG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 15%;
}
#arina-interface .container{
    width: 95%;
}
.interface-left {
    padding-left:50px;
}
.interface-icon img{
    padding-left: 30%;
    margin-bottom: 15px;
    width: 70%;
}
.interface-logo {
    margin-bottom: 15px;
}
#androidDownload, #iosDownload, #website{
    display: inline-block;
    margin : 10px;
    width: 40%;
    text-align: center;
}

.button-group {
    margin: 30px 0;
}
#androidDownload p, #website p {
    font-size: 10px;
}
#iosDownload p{
    font-size: 3px;
}
#androidDownload a, #website a{
    display: block;
    border-radius: 25px;
    padding: 10px 20px;
    text-transform: capitalize;
}
#androidDownload a{
    background: -webkit-linear-gradient(left,#7a41d8,#6151fb);
    background: -o-linear-gradient(right,#7a41d8,#6151fb);
    background: -moz-linear-gradient(right,#7a41d8,#6151fb);
    background: linear-gradient(to right,#7a41d8,#6151fb);
    color: #fff;
    border: 1px solid #7a41d8;
}

#androidDownload a:hover{
    background: #fff;
    color: #7a41d8;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
}

#website a{
    background: #e24b2d;
    color: #fff;
    border: 1px solid #e24b2d;
}

#website a:hover{
    background: #fff;
    color: #e24b2d;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
}
#iosDownload a{
    display: block;
    color: #000;
    border: 1px solid #333;
    border-radius: 25px;
    padding: 3px 20px;
    text-transform: capitalize;
}


#interface-macbook{
    width:125%;
}
#interface-iPhone{
    position: absolute;
    left: 17%;
    top: 65%;
    width: 40%;
    transform: translate(-50%, -50%);
}

/*====================06.arina-million============*/
#arina-million{
    left: 0;
    right: 0;
    background-image: url(../images/6ARINASCRATCH/millionBG.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 15%;
}

#million-free{
    position: relative;
    left: 75%;
    top: 25%;
    width: 35%;
    transform: translate(-50%, -50%);
}
#million-free img {
}

#arina-million-context{
    position: relative;
    left: 82%;
    width: 15%;
}

#arina-million-context p{
    text-shadow: 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000;
    color: #fff;
    font-size: 1.5em;
    font-weight:bold;
}

#arina-million-notice{
    position: relative;
    top: 30%;
    left: 82%;
    width: 15%;
}

#arina-million-notice p{
    text-shadow: 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000;
    color: #fff;
    font-size: 0.8em;
    font-weight:bold;
}

/*====================07.comming-soon============*/
#comming-soon{
    text-align: center;
    font-size: 2em;
}

/*====================08.footer============*/
#arina-future{
    left: 0;
    right: 0;
    background-image: url(../images/8DAPPLISTING/BG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 20%;
    padding-top:0;
}
#future-game{
    padding: 0 10%;
}
#future-game div{
    display: inline-block;
    width: 49%;
    padding: 0 40px;
}
#dapp-listing{
    margin-top: 400px;
    text-align:center;
}
#dapp-listing h3{
    font-weight:bold;
    color: #fff;
    margin: 50px 0;
}
#dapp-listing div{
    display: inline-block;
    
    padding: 0 40px;
}
.small-dapp{
    width: 19%;
}
.big-dapp{
    width: 28%;
}
#footer {
    margin-top: 100px;
    width:95%;
    color: #fff;
}
#footer div {
    display: inline-block;
    width: 33%;
    padding: 0 20px;
}

#footer .nav a{
    font-size: 20px;
}