/*================01.basic setting=====================*/
html, body {
    width: 100%;
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a, a:hover, a:focus {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 85%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    }

section {
    padding: 100px 0;
}

.clearfix::after {
    content: '';
    display : table;
    clear: both;
}

h2{
    margin-bottom: 75px;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*====================02.header============*/
header {
    left: 0;
    right: 0;
    background-image: url(../images/MainPage.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
  
#navber {
    height: 50px;
    width: 100%;
    left: 0;
    right: 0;
    background-color: #222;
    z-index: 100;
}
#logo {
    float: left;
    width: 80px;
    height: 40px;
}
  
.nav {
    float: right;
}
  
.nav li {
    display: inline-block;
}
  
.nav li a {
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
    padding: 10px 12px;
}

#info-context p{
    font-variant: small-caps;
}

#middle-part{
    left: 0;
    right: 0;
    background-image: url(../images/ShapeBG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 700%;
}

/*====================03.arina-info============*/
#arina-info-top{
    margin-bottom:40px;
}
.info-img-item{
    display: inline-block;
    width: 49%;
    padding:0px 10px 20px 10px;
}
.info-img-item img{
    
}
.info-item{
    padding:0 15px;
}

.info-context{
    text-align: center;
    background-color: #ccc;
    padding:20px 0;
}

.info-context-img{

    width:50%;
    vertical-align: middle;
    display:inline-block;
}
.info-context-img::before{
    display:inline-block;
}
.info-context h5{
    padding-top:20px;
}
.info-context p{
    margin:5px 15px;
}

/*====================03.arina-dapp============*/

.dapp-img{
    
    width:49%;
    display:inline-block;
}
.dapp-img img{
    padding:12px 5px;
}

#dapp-img-left{
    float:left;
}

#dapp-img-right{
    padding: 25% 0;
    float:right;
}

#arina-dapp-context{
    padding: 25% 0;
}

#second-title{
    margin: 5% 10%;
}

/*====================04.arina-video============*/
#arina-video{
    left: 0;
    right: 0;
    background-image: url(../images/4ARINAYAKYUKEN/VideoARINAYAKYUKEN.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 15%;
}
#arina-video-title{
    text-align: center;
    margin-top: -30px;
    color: #fff;
}
#arina-video .container{
    width: 90%;
    max-width: 1870px;
}
.video-container {
    margin:10px 40px 0 0;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {

    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
}

#YAKYUKENLOGO{
    position: absolute;
    left: 10%;
    top: 85%;
    width: 40%;
    transform: translate(-50%, -50%);
}

#arina-video-context{
    margin:15px 40px 0 240px;
    color: #fff;
}

#arina-video-button img{
    width:30%;
}

/*====================05.arina-interface============*/

#arina-interface{
    left: 0;
    right: 0;
    background-image: url(../images/5ARINALANDTYCOON/ShapeBG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 15%;
}
#arina-interface .container{
    width: 95%;
}
.interface-left {
    padding-left:50px;
}
.interface-icon img{
    padding-left: 30%;
    margin-bottom: 15px;
    width: 70%;
}
.interface-logo {
    margin-bottom: 15px;
}

#interface-macbook{
    width:125%;
}
#interface-iPhone{
    position: absolute;
    left: 17%;
    top: 65%;
    width: 40%;
    transform: translate(-50%, -50%);
}

/*====================06.arina-million============*/
#arina-million{
    left: 0;
    right: 0;
    background-image: url(../images/6ARINASCRATCH/millionBG.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 15%;
}

#million-free{
    position: relative;
    left: 75%;
    top: 25%;
    width: 35%;
    transform: translate(-50%, -50%);
}
#million-free img {
}

#arina-million-context{
    position: relative;
    left: 82%;
    width: 15%;
}

#arina-million-context p{
    text-shadow: 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000, 0px 0px 10px #000;
    color: #fff;
    font-size: 20px;
    font-weight:bold;
}